.heading {
  display: flex;
  padding: 20px;
}

.heading button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.heading_name,
.heading_population,
.heading_area,
.heading_gini {
  flex: 4;
  color: var(--text-secondary);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading_flag {
  flex: 1;
  margin-right: 16px;
}

.heading_name {
  justify-content: flex-start;
}

.heading_arrow {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}

.row {
  display: flex;
  padding: 20px;
  background-color: var(--bg-color-light);
  align-items: center;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: var(--box-shadow);
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.row:hover {
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.name,
.population,
.area,
.gini {
  flex: 4;
}

.name {
  text-align: left;
}

.flag {
  flex: 1;
  margin-right: 8px;
}

.flag img {
  width: 100%;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

@media screen and (max-width: 728px) {
  .area,
  .gini,
  .flag,
  .heading_area,
  .heading_gini,
  .heading_flag {
    display: none;
  }
}
